@bg_color: #fafafa;
@header_color: #4b4f55;
@summary_color: #d1d1d1;
@border_color: #dddddd;
@content_width: 810px;
@block_width: 710px;
@home_date_color: #cccccc;
@home_header_font_size: 24px;
@body_header_font_size: 31px;
@body_header_line_height: 44px;
@body_font_size: 18px;
@body_line_height: 30px;
@drop_cap_color: #ff4240;
@drop_cap_font_size: 63px;
@reference_bg_color: #faf4cc;
@reference_color: #7d7753;
@link_color: #7d7753;

.headerfont {
   font-family: 'Merriweather', serif;
   font-weight: 700;
   color: @header_color;
}

.summaryfont {
   font-family: 'Merriweather', serif;
   font-weight: 300;
   font-style: oblique;
   color: @summary_color;
}

.bodyfont {
   font-family: 'Merriweather', serif;
   font-weight: 300;
   color: @header_color;
}

html, body {
   background-color: @bg_color;
   height: 100%;
   .bodyfont;
}

#verticle-align {
   height: 100%;
   width: @content_width;
   margin: 0 auto;

   &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 100%;
      margin-left: -0.25em;
   }
}

#wrapper {
   display: inline-block;
   vertical-align: middle;
   width: 99%;

   #top {
      margin: 0 auto;
      width: @block_width;

      #avatar-2x {
         float: left;
      }

      #social-networks {
         width: 300px;
         text-align: center;
         float: left;
         padding-top: 70px;

         #strike-through {
            height: 2px;
            background-color: @border_color;
            position: relative;
            top: 24px;
         }

         #container {
            width: 200px;
            margin: 0 auto;
            position: relative;
            z-index: 99;
            background-color: @bg_color;

            a {
               text-decoration: none;
               color: black;
               margin: 0 9px;

               &:hover {
                  border-bottom: 2px solid black;
               }
            }
         }
      }

      #id-tag {
         float: left;
      }
   }

   #bottom {
      clear: both;
      width: @block_width;
      margin: 0 auto;

      #signature {
         float: left;
         text-align: right;
         width: 146px;
         padding-right: 22px;
         padding-top: 24px;
      }

      #recent-articles {
         float: left;

         h1 {
            font-size: @home_header_font_size;
            .headerfont;
         }

         ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
               font-style: oblique;
               font-size: @body_font_size;
               line-height: @body_line_height;
               padding-left: 33px;
               background: url(/images/ribbon.png) no-repeat 0 5px;

               a {
                  text-decoration: underline;
                  color: @header_color;
               }

               span {
                  color: @home_date_color;
               }
            }
         }
      }
   }
}

// -- firefox hack for dropcaps --
@-moz-document url-prefix() {
   div.article p:first-of-type:first-letter {
      margin-top: 10px !important;
   }
}

div.article {
   width: @content_width;
   margin: 44px auto;
   counter-reset: strong;

   div.headline {
      text-align: center;

      img {

      }
   }

   div.author {
      height: 14px;
      float: left;
      width: 100px;
      left: -131px;
      position: relative;

      div#avatar {
         margin-top: 5px;

         img {
            float: left;
            margin-bottom: 9px;
         }

         div.bar {
            height: 2px;
            float: left;
            width: 22px;
            position: relative;
            top: 36px;
            background-color: @border_color;
         }

      }

      em.date {
         display: block;
         clear: both;
         color: darken(@home_date_color, 20%);
         font-style: oblique;
         font-size: @body_font_size - 4;
         text-align: center;
         width: 82px;
      }
   }

   h1 {
      clear: both;
      font-size: @body_header_font_size;
      line-height: @body_header_line_height;
      .headerfont;
   }

   h2 {
      font-size: @body_font_size + 1;
      line-height: @body_line_height + 2;
      .summaryfont;
   }

   p {
      font-size: @body_font_size;
      line-height: @body_line_height;

      strong {
         background-color: @reference_bg_color;
         font-weight: 300;
         color: @reference_color;
         padding: 4px;
         border-radius: 6px;

         &:after {
            content: counter(strong);
            counter-increment: strong;
            position: relative;
            top: -9px;
            font-size: 66%;
         }
      }

      &:first-of-type {
         &:first-letter {
            color: @drop_cap_color;
            font-size: @drop_cap_font_size;
            font-weight: 700;
            float: left;
            display: inline;
            margin-top: 22px;
            padding-right: 9px;
         }
      }
   }

   ol {
      &:last-of-type {
         margin: 0;
         padding: 22px;
         float: left;
         border-top: 2px solid lighten(@header_color, 60%);
         width: 3 * @block_width / 4;
         padding-top: 11px;
         font-size: @body_font_size - 4;

         li {
            color: lighten(@header_color, 30%);
            line-height: @body_line_height - 5;

            a {
               text-decoration: none;
               font-style: oblique;
               color: @link_color;

               &:hover {
                  text-decoration: underline;
               }
            }
         }
      }
   }
}

div.related {
   clear: both;
   margin: 0 auto;
   width: @content_width;
   min-height: 220px;
   background: url(/images/page-break.png) no-repeat center 22px;

   h1 {
      float: left;
      font-size: @body_header_font_size - 9;
      margin-top: 81px;
      margin-bottom: 11px;
   }

   ul {
      float: left;
      clear: both;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
         font-style: oblique;
         font-size: @body_font_size;
         line-height: @body_line_height;
         padding-left: 33px;
         background: url(/images/ribbon.png) no-repeat 0 5px;

         a {
            text-decoration: underline;
            color: @header_color;
         }

         span {
            color: @home_date_color;
         }
      }
   }
}

div#share {
   position: fixed;
   top: 14px;
   right: 14px;

   ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
         background-color: @home_date_color;
         float: left;
         clear: both;
         border-radius: 48px;
         width: 48px;
         height: 48px;
         text-align: center;
         margin-top: 7px;

         &:hover {
            background-color: darken(@home_date_color, 19%);
         }

         a {
            color: @bg_color;
            text-decoration: none;
            display: block;
            width: 48px;
            height: 48px;
            padding-top: 9px;
         }
      }
   }
}
